.main-container-fb-spt {
  height: 100%;
  width: 100%;
  background-image: url("../../static/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding-top: 20px;
}

.flightbooking-wrapper-fb-spt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 800px;
  margin-top: 20px;
}

.flightbooking-container-fb-spt {
  width: 90%;
  height: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 20px;
}

.flightbooking-container-fb-spt h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 25px;
  padding: 10px;
}

.flightbooking-details-wrapper-fb-spt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  margin: 20px 0px;
}

.flightbooking-flightsdetails-fb-spt {
  width: 75%;
  height: 100%;
  margin-right: 20px;
  background-color: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.flightbooking-flightfare-fb-spt {
  width: 25%;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.flightbooking-title-fb-spt {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 25%;
  border-radius: 5px 5px 0px 0px;
  background-color: #0066cf;
}

.flightbooking-title-head-fb-spt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.flightbooking-price-head-fb-spt {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0px 20px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.flightbooking-details-fb-spt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75%;
  padding: 0px 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
